

.banner-container {
    height: 30rem;
    background-color: #FF4400 ;
    // padding-left: 8rem !important;

    img {
        
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .info-image-banner{
        position: absolute;
        // left: 8%;
        top: 50%;
        transform: translate(-50%, -50%);

        @media (max-width: 600px){
            
            // left: 20%;
           
        }
    }

   
}